body, html {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    height: 100%;
    width: 95%;
    
  }
  
  .progress-container {
    height: 35px;
    position: relative; /* Додано позиціонування для вирівнювання тексту */
    
  }
  
  .progress-bar {
    width: 0;
    height: 100%;
    background-color: #4caf50;
    border-radius: 5px;
    position: relative; /* Додано позиціонування для вирівнювання тексту */
  }
  
  .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 1px 1px 2px black;
  }
  
  .complete-button {
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 1px 1px 2px black;
  }

  .bottom-center {
    position: fixed; /* Або absolute, залежно від вашого випадку */
    left: 50%;
    transform: translateX(-50%);
    padding: 2px;
    width: 85%;
    border-radius: 7px;
    border: 1px solid #ccc;
  }
  

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {

    position: fixed; /* Або absolute, залежно від вашого випадку */
    left: 50%;
    transform: translateX(-50%);
    padding: 2px;
    width: 85%;
    border-radius: 7px;
    border: 1px solid #ccc;

    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    text-align: center;
    color: #333;
}
p {
    color: #666;
    line-height: 1.6;
}
.logo {
    display: block;
    margin: 20px auto;
    max-width: 200px;
}
.contact-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #007bff;
}
